body {
    background:rgb(0, 140, 255);
}

*{
    color: black;
}

nav{
    display:flex;
    justify-content: center;
}

main{
    display:flex;
}

aside{
    padding: 5px;
    min-width: 250px;
    height: 80vh;
    border: white solid 3px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#main-div{
    flex: 5 1 500px;
    border: white solid 3px;
    display: flex;
    flex-flow: column;

}

#search-container{    
    border-bottom: gray solid 1px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-bottom: 5px;
}

#city-data{
    border: yellow solid 3px;
    height: 25vh;
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#forecast{
    border: yellow solid 3px;
    margin: 15px;
    flex-grow: 1;
}

#common-cities{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cities-boxes{
    background-color: gray;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    margin-bottom: 25px;
}

.cities-boxes:hover{
    cursor:pointer;
}

#card-container{
    display:flex;
    flex-direction: row;;
}

.card{
    margin: 20px;
    border: white solid 2px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-data{
    color:white;
    margin: 15px;
    font-size: 20px;
    
}

img{
    height: 50px;
    width: 50px;
}

h3{
    margin: 10px;
}